body {
  padding: 2% 15% 0% 15%;
}

#myTitle {
  display: inline-block;
}

header span { 
  margin-left: 10px; 
}

.form-group {
  padding: 0px 20px 0px 0px;
}

.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: '#EEEEEE';
}

.map-layer .label {
  stroke: #000;
}

.effect-layer{
  pointer-events:none;
}

text{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}

.effect-layer text, text.dummy-text{
  font-size: 12px;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
}

.sparkline {
  padding: 5px;
  border-radius: 5px 5px 5px;
  border: 1px solid #CCC;
}

